<h1>Bonjour ! Veuillez confirmer votre e-mail</h1>

<p>
    Suivez le lien ci-dessous pour confirmer votre e-mail s'il vous plait.
    <br><br>
    <a href="{{ signedUrl }}">Valider mon adresse e-mail</a>.
    Le lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    L'équipe de Luxury Travel
</p>
