{% extends 'base.html.twig' %} {% block title %}contactez nous{% endblock %} {% block body %}
<div class="container">
    <div class="col-6 d-flex justyfy-content-center">
        {{form(formulaire)}}
    </div>
</div>
{% endblock %}