body {
    max-width: 1920px;
    /* width: 100%; */
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.logo {
    width: 8em;
    margin-left: 50px;
}

/********************* CSS de la map **********************/

h1 {

    /* background-color:rgb(179, 189, 192);
    border: solid 1px;
    border-radius: 10px;
    font-size: xx-large;
    text-align: center;
    padding: 0%;
    margin: 0%; */
}

[id*='Pays_'] {

    cursor: pointer;

}

.carteglobale{
    width: 100%;
    padding: 1%;
    display: flex; 
    justify-content: space-evenly;
    align-content: center;
    align-items: center;

}

.CarteDuMondeEtInfos{
    display:inline-block


}

.CarteDuMonde{

    padding: 1px;
    background: url(../images/background-2079405_640.jpg);
    border: solid 1px;
    border-radius: 5%;
    filter: drop-shadow(0 0 0.75rem rgb(205, 197, 199));

}

.MapGoogle{

    border: solid 1px;
    border-radius: 10px;
    width: 327.508px;
    height: 298.078px;
    filter: drop-shadow(0 0 0.75rem rgb(205, 197, 199));
    
}

/* 
.body{
display: inline-block;
/* background-color: white; */
/* } */

/* .modal-dialog{
display: inline-block;
    
}

.modal-header{
    
    display: block;
    
}
.modal-footer{
    
    display: flex;
    flex-direction: column-reverse;

}
.modal-content{

    border: solid 1px;
    border-radius: 10px;
    display: inline-block;
   
} */

/* .modal-body{

    border: solid 1px 1px 1px 1px ;
} */

.API-meteo{

    border: solid 1px;

}





.decouvrir{
    
    /* border: solid 1px; */
    background-color: rgb(227, 88, 88);
    border-radius: 4px;

}

/* .modal_Pays_Amerique_Du_Nord{
    width: auto;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 100px;
    

}

.modal_Pays_Amerique_Du_Sud{
    width: auto;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 100px;

}


.modal_Pays_Europe_Asie_Afrique{
    width: auto;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 100px;
} */

/* .image{
    border: solid 1px;
    border-radius: 10px;
    width: 99%;
    height: 50px;
}

.modaleTout{

 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 /* position: relative; */

}

/* .modal-1 {
    width: 600px;
    height: 800px;
} */ 