body {
    max-width: 1920px;
    /* width: 100%; */
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.logo {
    width: 8em;
    margin-left: 50px;
}

/********************* CSS de la map **********************/

[id*='Pays_'] {

    cursor: pointer;

}

.carteglobale{
    width: 100%;
    padding: 1%;
    display: flex; 
    justify-content: space-evenly;
    align-content: center;
    align-items: center;

}

.CarteDuMondeEtInfos{
    display:inline-block


}

.CarteDuMonde{

    padding: 1px;
    background: url(../images/background-2079405_640.jpg);
    border: solid 1px;
    border-radius: 5%;
    filter: drop-shadow(0 0 0.75rem rgb(205, 197, 199));

}

.MapGoogle{

    border: solid 1px;
    border-radius: 10px;
    width: 327.508px;
    height: 298.078px;
    filter: drop-shadow(0 0 0.75rem rgb(205, 197, 199));
    
}

.API-meteo{

    border: solid 1px;

}

.decouvrir{
    
    background-color: rgb(227, 88, 88);
    border-radius: 4px;

}